# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Local demo persistence
.storage/

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
